[Unit]
Description=System VNA controller Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/Radar-LibreVNA-Firmware/controller.py
WorkingDirectory=/home/pi/Radar-LibreVNA-Firmware
Restart=always
RestartSec=30
User=pi
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target
